In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv('Static Dataset Transaction - Burger Star (Outlet A) .csv')

In [3]:
df.head()

,Timestamp,Type Burger,Code Burger,Amount Burger,Type Drink,Code Drink,Amount Drink,Gender,Payment
0,10:01,Beef burger,1,6,Mineral water,1,3,1,DANA
1,10:04,Cheese burger,3,12,Coke,2,10,0,DANA
2,10:05,Double cheese burger,4,10,Mineral water,1,5,0,LINK AJA
3,10:06,Chicken burger,2,9,Coffe,3,9,0,DANA
4,10:07,Cheese burger,3,11,Coke,2,3,1,DANA

In [4]:
label = []
for i in range(len(df)):
    if (df['Amount Burger'][i] >= 9) and (df['Amount Drink'][i] >= 5):
        label.append('A')
    elif  6<= df['Amount Burger'][i] < 9 and 3<= df['Amount Drink'][i] < 5:
        label.append('B')
    elif  3<= df['Amount Burger'][i] < 6 and 2<= df['Amount Drink'][i] < 3:
        label.append('C')
    else:
        label.append('D')

In [5]:
df['label'] = label
df.head()

,Timestamp,Type Burger,Code Burger,Amount Burger,Type Drink,Code Drink,Amount Drink,Gender,Payment,label
0,10:01,Beef burger,1,6,Mineral water,1,3,1,DANA,B
1,10:04,Cheese burger,3,12,Coke,2,10,0,DANA,A
2,10:05,Double cheese burger,4,10,Mineral water,1,5,0,LINK AJA,A
3,10:06,Chicken burger,2,9,Coffe,3,9,0,DANA,A
4,10:07,Cheese burger,3,11,Coke,2,3,1,DANA,D

In [6]:
x = df[['Amount Burger', 'Amount Drink']]
x.head()

   Amount Burger  Amount Drink
0              6             3
1             12            10
2             10             5
3              9             9
4             11             3

In [7]:
y = df['label']
y.head()

0    B
1    A
2    A
3    A
4    D
Name: label, dtype: object

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [9]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(249, 2)
(63, 2)
(249,)
(63,)

In [10]:
logreg = LogisticRegression()

In [11]:
logreg.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [12]:
y_pred = logreg.predict(x_test)
y_pred

array(['D', 'A', 'D', 'D', 'D', 'D', 'D', 'A', 'D', 'D', 'D', 'D', 'A',
       'D', 'D', 'A', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'A',
       'D', 'A', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D',
       'D', 'A', 'D', 'A', 'D', 'A', 'A', 'A', 'D', 'D', 'D', 'D', 'D',
       'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D'],
      dtype=object)

In [13]:
logreg.score(x_test, y_test)

0.8412698412698413

In [14]:
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          A       1.00      0.73      0.85        15
          B       0.00      0.00      0.00         5
          C       0.00      0.00      0.00         1
          D       0.81      1.00      0.89        42

avg / total       0.78      0.84      0.80        63

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)